
.main-body
{
    background-color: black;
    height: 300px;
    width: 250px;
    padding: 10px;
    margin-top: 100px;
    margin-left: 100px;
}
#screen
{
    width: 241px;
    height: 52px;
}
.buttons
{
   padding: 30px;
  
}
.calbtn
{
    width: 41px;
    height: 40px;
    border-radius: 20px;
}
.clrbtn
{
    background-color: rgb(124, 121, 121);
}
.symbtn
{
    background-color: darkorange;
}